@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

:root {
    --primary-radius: 0.85rem;
    --secondary-radius: 0.5rem;

    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
}

body {
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Montserrat', sans-serif; */
    width: 100vw;
    min-height: 100vh;
    background-color: var(--cream);
    color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    width: 24.2rem;
    height: auto;
    overflow: hidden;
    border-radius: var(--primary-radius);
    background-color: var(--white);

    display: flex;
    flex-direction: column;
}

.mobile-img {
    display: flex;
}

.desktop-img {
    display: none;
}

.content-container {
    padding: 1.5rem 1.6rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--dark-grayish-blue);
}

.title {
    margin: 0;
    font-size: 2.25rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.description {
    color: var(--dark-grayish-blue);
    line-height: 1.65rem;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--dark-cyan);
}

.retail-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-size: 1rem;
}

.add-to-cart-button {
    font-weight: 700;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    border-radius: var(--secondary-radius);
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
}

@media screen and (min-width: 1440px) {
    main {
        width: 48rem;
        flex-direction: row;
    }

    .image-container {
        width: 50%;
    }

    .content-container {
        width: 50%;
        padding: 2.5rem 2.6rem;
        justify-content: space-between;
    }

    .content-top {
        gap: 1.55rem;
    }

    .label {
        letter-spacing: 0.35rem;
    }
    
    .title {
        font-size: 2.5rem;
    }
    
    .description {
        font-size: 1.1rem;
        line-height: 1.85rem;
    }

    .content-bottom {
        gap: 2rem;
    }

    .discount-price {
        font-size: 2.5rem;
    }
    
    .retail-price {
        font-size: 1.1rem;
    }
    
    .add-to-cart-button {
        padding: 1.25rem 0;
        gap: 0.75rem;
    }

    .mobile-img {
        display: none;
    }
    
    .desktop-img {
        display: flex;
    }
}
